body {
  overflow-y: hidden;
}

.App {
  --content-width:  720px;

  text-align: center;
  width: 1600px;
  height: 900px;
  margin: 100px auto;
  background-color: #0D1113;
  overflow: hidden;
  user-select: none;
}

.content {
  display: flex;
  justify-content: center;
}

.queue-content {
  flex: 1;
}

.champion-content {
  flex: 0 0 var(--content-width);
}